* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Bar-menu*/
.fa-bars {
    display: none;
    font-size: 20px;
    padding: 5px 20px;
}
.fa-bars:hover {
    color: lightseagreen;
}

/*Header*/
.header {
    border-bottom: 2px solid lightgray;
}
.header h1 {
    font-weight: 200;
    text-align: center;
    padding: 10px 0px;
    letter-spacing: 3px;
    color: lightseagreen;
}
.exit {
    display: flex;
    justify-content: flex-end;
}
.fa-times {
    display: none;
    padding: 7px;
    font-size: 20px;
}

/*Wrapper*/
.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
}
/*Aside area*/
.wrapper .aside_container {
    width: 25%;
    border-right: 2px solid lightgray;
    padding: 10px;
    background-color: white;
}
.wrapper .aside_container .note_aside {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.note {
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}
.wrapper .aside_container .note_aside .note_title_aside {
    margin: 7px 0px;
}
.wrapper .aside_container .note_aside .note_text_content {
    margin: 7px 0px;
}
.wrapper .aside_container .note_aside .note_date {
    font-size: 15px;
    color: gray;
    margin-top: 5px;
    font-style: italic;
}

/*Main container*/
.wrapper .main_container {
    padding: 20px;
    width: 75%;
}
.wrapper .main_container input {
    border: none;
    padding: 10px 0px;
    font-size: 35px;
}
.wrapper .main_container input:focus {
    outline: none;
}
.wrapper .main_container textarea {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 20px;
}
.wrapper .main_container textarea:focus {
    outline: none;
}
.wrapper .main_container textarea::placeholder {
    font-size: 20px;
}

/*Button*/
.aside_container .add_btn {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: lightseagreen;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
}

/*Klasa koja se dodaje selectovanim itemima*/
.note--selected {
    background-color: lightgray;
    font-weight: bold;
}

/*Klasa koja se dodaje za side menu*/
.view_aside {
    left: 0%;
}